<section id=bookForm> 

<h1> <%= podcast.collectionName %> Bookshelf </h1>

<form class="book" action="/users/podcasts/bookshelf" method="POST">
    <input type="text" name ="title" placeholder="Title">
    <input type="text" name="author" placeholder="Author">
    <input type="text" name="notes" placeholder="Notes">
    <span id=checkbox>Read?<input type="checkbox" name="read"></span>

    <button id='addBook'>Add Book</button>
</form>
</section>