<section id=itunes-search>

    <form id=search-bar action="/users/search" method="POST">
        <input type="text" name="searchTerm" autocomplete="off">
        <button id=search-button>Add a Podcast</button>
    </form>
    
    <% if(data) { %>
    <% data.forEach((element, index) => { %>
    <p><button onclick="javascript: {document.querySelector('#form').submit()}">Add Podcast</button> <%= element.collectionName %></p>
    <form id="form" action="/users/podcasts/<%= index %>" method="POST">
        <input type="hidden">
    </form>
    <% }) %>
    <% } %>

</section>