<section id=itunes-search>

    <form action="/users/search" method="POST">
        <input type="text" name="searchTerm">
        <button>Search</button>
    </form>
    
    <% if(data) { %>
    <% data.forEach((element, index) => { %>
    <p><button onclick="javascript: {document.querySelector('#form').submit()}">Add Podcast</button> <%= element.collectionName %></p>
    <form id="form" action="/users/podcasts/<%= index %>/add" method="POST">
        <input type="hidden">
    </form>
    <% }) %>
    <% } %>

</section>