<section id=podcasts>
    <button id=add onClick="showSearch()">+</button> 
    <script>
        function showSearch(){
        window.location = '/users/search';
        }
    </script>

<% user.podcasts.forEach((podcast, index) => { %>
    <span id=podcastArray>
        <a href="/users/podcast/<%= podcast.collectionId %>"><img src="<%= podcast.artworkUrl100 %>" alt=""></a>
        <form action="/users/podcasts/<%= podcast.collectionId %>?_method=DELETE" method="POST">
            <input id=delete type="submit" value="x">
        </form>
    </span>
     
<% }); %>

</section> 