* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: [footer-height];
    font-family: 'Roboto Mono', monospace;
}

h1 {
    text-align: center;
    margin: 30vh auto;
    
}

a {
    text-decoration: none; 
    color: #30b0ff; 
}

header {
    background: 5px #ffac30;
    padding: 5px;
    text-align: right;
}

footer {
    grid-area: footer;
    font-size: 10px;
    text-align: center;
    color: lightgray;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: fit-content;
    background: #ffac30;
    padding: 5px;
}

.blinking-cursor {
    font-weight: 100;
    font-size: 40px;
    color: #2E3D48;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: #30b0ff;
    }
}

@-moz-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: #30b0ff;
    }
}

@-webkit-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: #30b0ff;
    }
}

@-ms-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: #30b0ff;
    }
}

@-o-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: #30b0ff;
    }
}