* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  border: 5px solid black; 
  grid-template-areas:
    "header header header header"
    "sidebar main main main"
    "footer footer footer footer";
  min-height: 100%;
}

img {
  height: 50px; 
  width: 50px;
  border-radius: 50%;
}

button {
  background-color: red; 
  border: 2px solid black;
  border-radius: 10%;
  margin: 2px;
}

header {
  grid-area: header;
  text-align: right;
  height: fit-content;
  padding: 5px;
  background: orange;
}

#podcasts {
  grid-area: main;
  background: gray;
}

#profile {
  grid-area: sidebar;
  background: lightgrey;
}

footer {
  grid-area: footer;
  font-size: 10px;
  text-align: center;
  color: lightgray;
  position: absolute;
  left: 0; 
  right: 0; 
  bottom: 0;
  height: fit-content;
  background: orange;
  padding: 5px;
}